@import "tailwindcss";

:root {
  /* Light Theme */
  --background: #f8fafc;
  --surface: #ffffff;
  --surface-secondary: #f1f5f9;
  --navbar: #2563eb;
  --navbar-hover: #1d4ed8;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --text: #111827;
  --text-secondary: #6b7280;

  --border: #d1d5db;

  --success: #16a34a;
  --error: #dc2626;
}

.dark {
  /* Dark Theme */
  --background: #0f172a;
  --surface: #1e293b;
  --surface-secondary: #334155;

  --primary: #2563eb;
  --primary-hover: #3b82f6;
  --navbar: #1d4ed8;
  --navbar-hover: #2563eb;

  --text: #f8fafc;
  --text-secondary: #cbd5e1;

  --border: #475569;

  --success: #22c55e;
  --error: #ef4444;
}

body {
  background: var(--background);
  color: var(--text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}